{% extends 'base_dashboard.html.twig' %}

{% block content %}
<h1 class="mt-4">Создание статьи</h1>
<div class="row my-form">
    <div class="col-xl-6">
        {% if isBlocked %}
            <div class="alert alert-danger" role="alert">
                Превышен лимит создания статей, чтобы снять лимит <a href="{{ path('subscription') }}">Улучшите подписку</a>
            </div>
        {% else %}
            {{ form_start(formArt) }}
                <div class="form-group">
                    {{ form_label(formArt.theme, 'Тематика') }}
                    {{ form_widget(formArt.theme) }}
                </div>
                <div class="form-label-group">
                    {{ form_widget(formArt.title, {'attr': {placeholder: 'Заголовок статьи'}}) }}
                    {{ form_label(formArt.title, 'Заголовок статьи') }}
                </div>
                <div class="form-group">
                    {{ form_label(formArt.module, 'Модуль') }}
                    {{ form_widget(formArt.module) }}
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-title">Ключевое слово</p>
                        <div class="form-label-group">
                            {{ form_widget(formArt.keyword0, {'attr': {placeholder: 'Ключевое слово'}}) }}
                            {{ form_label(formArt.keyword0, 'Ключевое слово') }}
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-label-group">
                                    {{ form_widget(formArt.keyword1, {'attr': {placeholder: 'Родительный падеж'}}) }}
                                    {{ form_label(formArt.keyword1, 'Родительный падеж') }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-label-group">
                                    {{ form_widget(formArt.keyword2, {'attr': {placeholder: 'Дательный падеж'}}) }}
                                    {{ form_label(formArt.keyword2, 'Дательный падеж') }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-label-group">
                                    {{ form_widget(formArt.keyword3, {'attr': {placeholder: 'Венительный падеж'}}) }}
                                    {{ form_label(formArt.keyword3, 'Венительный падеж') }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-label-group">
                                    {{ form_widget(formArt.keyword4, {'attr': {placeholder: 'Творительный падеж'}}) }}
                                    {{ form_label(formArt.keyword4, 'Творительный падеж') }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-label-group">
                                    {{ form_widget(formArt.keyword5, {'attr': {placeholder: 'Предложный падеж'}}) }}
                                    {{ form_label(formArt.keyword5, 'Предложный падеж') }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-label-group">
                                    {{ form_widget(formArt.keyword6, {'attr': {placeholder: 'Множественное число'}}) }}
                                    {{ form_label(formArt.keyword6, 'Множественное число') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-label-group">
                            {{ form_widget(formArt.size, {'attr': {placeholder: 'Размер статьи от'}}) }}
                            {{ form_label(formArt.size, 'Размер статьи') }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-label-group">
                            {{ form_widget(formArt.maxsize, {'attr': {placeholder: 'До'}}) }}
                            {{ form_label(formArt.maxsize, 'До') }}
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body words-fields-list"
                         id="words-fields-list"
                         data-prototype='<div class="row" id="article_form_words_key"><div class="col"><div class="form-label-group"><input type="text" class="form-control" id="article_form_words_key_title" name="article_form[words][key][title]" placeholder="Продвигаемое слово" /><label for="article_form_words_key_title" class="required">Продвигаемое слово</label></div></div><div class="col"><div class="form-label-group"><input type="number" class="form-control" id="article_form_words_key_count" name="article_form[words][key][count]" placeholder="кол-во" /><label for="article_form_words_key_count" class="required">кол-во</label></div></div></div>'
                         data-index="{{ formArt.words is defined ? formArt.words|length : 1 }}"
                    >
                        <p class="card-title">Продвигаемые слова</p>
                        {% if (formArt.words is defined) %}
                            {% for wordsFields in formArt.words %}
                            <div class="row" id="article_form_words_{{ loop.index - 1 }}">
                                <div class="col">
                                    <div class="form-label-group" >
                                        {{ form_widget(wordsFields.title, {'attr': {placeholder: 'Продвигаемое слово'}}) }}
                                        {{ form_label(wordsFields.title, 'Продвигаемое слово') }}
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-label-group">
                                        {{ form_widget(wordsFields.count, {'attr': { placeholder: 'кол-во'}}) }}
                                        {{ form_label(wordsFields.count, 'кол-во') }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}

                        {% if availableWords %}
                            <a href="#" class="add-another-word" id="add-another-word">Добавить слово</a>
                        {% else %}
                            <p>Добавлять слова можно на тарифах <strong>PLUS</strong> и <strong>PRO</strong></p>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(formArt.images, 'Изображения') }}
                    {{ form_widget(formArt.images, {'attr': {placeholder: 'Выбрать изображения'}}) }}
                </div>
                <div class="row mb-4">
                    {% if article %}
                        {% for image in article.images %}
                            <div class="col-2" data-id="imageBlock">
{#                                <div style="#}
{#                                        background: url({{ uploaded_asset('article_uploads', image.imgUrl) }}) no-repeat center center;#}
{#                                        background-size: cover;#}
{#                                        height: 120px;#}
{#                                        ">#}
{#                                </div>#}
                                <img src="{{ uploaded_asset('article_uploads', image.imgUrl) | imagine_filter('articles_preview') }}" height="100">
                                <a data-id="imageDelete" class="my-2 d-flex justify-content-center" href="{{ path('delete-image', {id: image.id, articleId: article.id}) }}" class="text-danger">
                                    <i class="fas fa-trash text-danger"></i>
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">{{ article ? 'Обновить' : 'Добавить' }}</button>

            {{ form_end(formArt) }}
        {% endif %}
    </div>
</div>
<hr>
{% if article %}
    <h2 class="mt-4">Ваша статья</h2>
    <hr>
    <div class="row mb-5">
        <div class="col-xl-6">
            {{ article.content }}
        </div>
    </div>
{% endif %}

{% endblock %}



