{% extends 'base_dashboard.html.twig' %}

{% block content %}
<h1 class="mt-4">Профиль</h1>
<div class="row">
    <div class="col-xl-6">
        {% if app.session.flashBag.peek('flash_message')|length > 0 %}
            <div class="alert alert-success" role="alert">
                {% for massage in app.flashes('flash_message') %}
                    <div>{{ massage }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="card my-4">
            <div class="card-body">
                <p>Ваш API токен: <span data-id="tokenValue">{{ token }}</span></p>
                <button data-id="tokenBtn" class="btn btn-outline-primary">Создать новый</button>
            </div>
        </div>
        {{ form_start(formProfile) }}
            <div class="form-label-group">
                {{ form_widget(formProfile.name, {'attr': {'class': 'form-control', placeholder: 'Ваше имя'}}) }}
                {{ form_label(formProfile.name, 'Ваше имя') }}
            </div>
            <div class="form-label-group">
                {{ form_widget(formProfile.email, {'attr': {'class': 'form-control', placeholder: 'Ваш Email'}}) }}
                {{ form_label(formProfile.email, 'Ваш Email') }}
            </div>
            <div class="form-label-group">
                {{ form_widget(formProfile.password1, {'attr': {'class': 'form-control', placeholder: 'Пароль'}}) }}
                {{ form_label(formProfile.password1, 'Пароль') }}

            </div>
            <div class="form-label-group">
                {{ form_widget(formProfile.password2, {'attr': {'class': 'form-control', placeholder: 'Подтверждение пароля'}}) }}
                {{ form_label(formProfile.password2, 'Подтверждение пароля') }}
            </div>
            {{ form_errors(formProfile) }}
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Изменить</button>
        {{ form_end(formProfile) }}
    </div>
</div>
{% endblock %}



