{% extends 'base_dashboard.html.twig' %}

{% block content %}
<h1 class="mt-4">Профиль</h1>
<div class="row">

    <div class="col-xl-6">
        <div class="alert alert-success" role="alert">
            Профиль успешно изменен
        </div>

        <div class="card my-4">
            <div class="card-body">
                <p>Ваш API токен: asft21sfsvzxvghk1912t1g12m</p>
                <button class="btn btn-outline-primary">Создать новый</button>
            </div>
        </div>
        {{ form_start(form) }}
            <div class="form-label-group">
                {{ form_widget(form.name, {'attr': {'class': 'form-control', placeholder: 'Ваше имя'}}) }}
                {{ form_label(form.name, 'Ваше имя') }}
                {{ form_errors(form.name) }}
            </div>
            <div class="form-label-group">
                {{ form_widget(form.email, {'attr': {'class': 'form-control', placeholder: 'Ваш Email'}}) }}
                {{ form_label(form.email, 'Ваш Email') }}
                {{ form_errors(form.email) }}
            </div>
            <div class="form-label-group">
                {{ form_widget(form.password, {'attr': {'class': 'form-control', placeholder: 'Пароль'}}) }}
                {{ form_label(form.password, 'Пароль') }}
                {{ form_errors(form.password) }}
            </div>
            <div class="form-label-group">
                {{ form_widget(form.password2, {'attr': {'class': 'form-control', placeholder: 'Подтверждение пароля'}}) }}
                {{ form_label(form.password2, 'Подтверждение пароля') }}
                {{ form_errors(form.password2) }}
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Изменить</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}



