{% extends 'base_dashboard.html.twig' %}

{% block content %}
<h1 class="mt-4">Подписка</h1>
<div class="row">
    <div class="col-xl-8">
        {% if app.session.flashBag.peek('flash_message')|length > 0 %}
            <div class="alert alert-success" role="alert">
                {% for massage in app.flashes('flash_message') %}
                    <div>{{ massage }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <section class="pricing py-2 row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                                {% if licenseInfo['type'] == 'PLUS' %}
                                    <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                                {% elseif licenseInfo['type'] == 'PRO' %}
                                    <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                                {% else %}
                                    <h5 class="card-title text-uppercase text-center current text-warning"><i class="fas fa-check"></i> Free</h5>
                                {% endif %}
                                <h6 class="card-price text-center">$0<span class="period">/неделя</span></h6>
                                <hr>
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Возможность создать более 1 статьи</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Базовые возможности генератора</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Продвинутые возможности генератора</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Свои модули</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                                {% if licenseInfo['type'] == 'PLUS' %}
                                    <h5 class="card-title text-uppercase text-center current text-warning"><i class="fas fa-check"></i> Plus</h5>
                                {% else %}
                                    <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
                                {% endif %}
                                <h6 class="card-price text-center">$9<span class="period">/неделя</span></h6>
                                <hr>
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Возможность создать более 1 статьи</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Базовые возможности генератора</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Продвинутые возможности генератора</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Свои модули</li>
                                </ul>
                                {% if licenseInfo['type'] == 'PLUS' %}
                                    <button class="btn btn-block btn-secondary text-uppercase" disabled>Текущий уровень</button>
                                {% elseif licenseInfo['type'] == 'PRO' %}

                                {% else %}
                                    <a href="{{ path('licence_pay', {type: 'plus'}) }}" class="btn btn-block btn-primary text-uppercase">Оформить</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                {% if licenseInfo['type'] == 'PRO' %}
                                    <h5 class="card-title text-uppercase text-center current text-warning"><i class="fas fa-check"></i> Pro</h5>
                                {% else %}
                                    <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                                {% endif %}
                                <h6 class="card-price text-center">$49<span class="period">/неделя</span></h6>
                                <hr>
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Безлимитная генерация статей для вашего аккаунта</strong></li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Базовые возможности генератора</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Продвинутые возможности генератора</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Свои модули</li>
                                </ul>
                                {% if licenseInfo['type'] == 'PRO' %}
                                    <button class="btn btn-block btn-secondary text-uppercase" disabled>Текущий уровень</button>
                                {% else %}
                                    <a href="{{ path('licence_pay', {type: 'pro'}) }}" class="btn btn-block btn-primary text-uppercase">Оформить</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <section>
            <h3 class="mt-4">История расширений подписки</h3>
            <div class="row">

                <div class="col-xl-8">

                    <table class="table table-hover table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Создан</th>
                            <th scope="col">Лицензия</th>
                            <th scope="col">Окончание</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for payment in payments %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ payment.createdAt|date("Y-m-d H:m") }}</td>
                                <td>{{ payment.licenseType }}</td>
                                <td>{{ payment.finishedAt|date("Y-m-d H:m") }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
        </section>
    </div>
</div>
{% endblock %}



